.select-total{
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 ;
}


.select-total .field-wrap {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.select-total .field-wrap .open-btn{
  margin-left: 10px;
  cursor: pointer;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
  transform: rotate(45deg);
}
.select-total .field-wrap .open-btn.active{
  transform: rotate(-135deg);
}

.select-total .field-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
  padding: 0 20px 10px;
}

.select-total .field-wrap>div:not(.open-btn) {
  width: 100%;
  display: block;
}

.select-total .field-item {
  font-size: 13px;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  background: rgb(35, 103, 180);
  color: #fff;
  margin: 2px 3px;
  transition: all 0.25s;
}

.select-total .field-item:hover {
  background: rgba(35, 103, 180, 0.856);
}

.select-total .field-item:hover {
  background: rgba(35, 103, 180, 0.856);
}

.select-total .del {
  cursor: pointer;
  margin-left: 20px;
  cursor: pointer;
  color: rgb(223, 158, 158);
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}

.select-total .list-options {
  padding: 0 20px 10px;
  height: 100%;
  overflow: auto;
  max-height: 100px;
  
  border-top: 1px solid #cccccc;
}

.select-total .list-options .option {
  cursor: pointer;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.select-total input {
  height: 100%;
  width: 100%;
  background: 0px center;
  border: 1px solid #ccc;
  outline: 0px;
  padding: 0px;
  color: inherit;
  display: block;
}
