.multi-select{
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: 190px;
}
.multi-select .field{
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -3px;
}
.multi-select .field-item{
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px 8px ;
  background: rgb(35, 103, 180);
  color: #fff;
  margin: 2px 3px;
  transition: all 0.25s;
}
.multi-select .field-item:hover{
  background: rgba(35, 103, 180, 0.856);
}
.multi-select .field-item:hover{
  background: rgba(35, 103, 180, 0.856);
}

.multi-select .del{
  margin-left: 20px;
  cursor: pointer;
  color: rgb(223, 158, 158);
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}
.multi-select .list-options{
  padding: 10px 20px;
}
.multi-select .list-options .option{
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
