.select-total{
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 ;
}

.select-total .field-wrap {
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -3px;
}

.select-total .field-wrap>span {
  width: 100%;
}

.select-total .field-item {
  font-size: 13px;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  background: rgb(35, 103, 180);
  color: #fff;
  margin: 2px 3px;
  transition: all 0.25s;
}

.select-total .field-item:hover {
  background: rgba(35, 103, 180, 0.856);
}

.select-total .field-item:hover {
  background: rgba(35, 103, 180, 0.856);
}

.select-total .del {
  margin-left: 20px;
  cursor: pointer;
  color: rgb(223, 158, 158);
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}

.select-total .list-options {
  padding: 10px 20px;
  height: 100%;
  overflow: auto;
  max-height: 100px;
}

.select-total .list-options .option {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.select-total input {
  width: 100%;
  background: 0px center;
  border: 0px;
  outline: 0px;
  padding: 0px;
  color: inherit;
}